<app-navbar></app-navbar> <!-- <- Aquí se llama el componente de navbar -->

<div class="background-slideshow"></div>

<!-- Fondo animado -->
<!-- <div class="background-slideshow"></div> -->
<div class="overlay"></div>


<div class="main-content">
 <div class="header">
   <h1>Categorías</h1>
 </div>


 <div class="categories-grid">
   <div class="category-item" (click)="vistaCategorias('Restaurantes')">
     <div class="category-icon">
       <span class="material-symbols-outlined">restaurant</span>
     </div>
     <button class="category-button">Restaurantes</button>
   </div>


   <div class="category-item" (click)="vistaCategorias('Mercados')">
     <div class="category-icon">
       <span class="material-symbols-outlined">storefront</span>
     </div>
     <button class="category-button">Mercados</button>
   </div>


   <div class="category-item" (click)="vistaCategorias('Parques')">
     <div class="category-icon">
       <span class="material-symbols-outlined">park</span>
     </div>
     <button class="category-button">Parques</button>
   </div>


   <div class="category-item" (click)="vistaCategorias('Supermercados')">
     <div class="category-icon">
       <span class="material-symbols-outlined">shopping_cart</span>
     </div>
     <button class="category-button">Super Mercados</button>
   </div>


   <div class="category-item" (click)="vistaCategorias('Iglesias')">
     <div class="category-icon">
       <span class="material-symbols-outlined">church</span>
     </div>
     <button class="category-button">Iglesias</button>
   </div>


   <div class="category-item" (click)="vistaCategorias('Tiendas')">
     <div class="category-icon">
       <span class="material-symbols-outlined">store</span>
     </div>
     <button class="category-button">Tiendas</button>
   </div>


   <div class="category-item" (click)="vistaCategorias('Plazas')">
     <div class="category-icon">
       <span class="material-symbols-outlined">local_mall</span>
     </div>
     <button class="category-button">Plazas</button>
   </div>


   <div class="category-item" (click)="vistaCategorias('Antros')">
     <div class="category-icon">
       <span class="material-symbols-outlined">nightlife</span>
     </div>
     <button class="category-button">Antros</button>
   </div>


   <div class="category-item" (click)="vistaCategorias('Puestos_Locales')">
     <div class="category-icon">
       <span class="material-symbols-outlined">nightlife</span>
     </div>
     <button class="category-button">Puestos Locales</button>
   </div>


   <div class="category-item" (click)="vistaCategorias('Ayuda')">
     <div class="category-icon">
       <span class="material-symbols-outlined">help</span>
     </div>
     <button class="category-button">Ayuda</button>
   </div>
 </div>
</div>
