<app-navbar></app-navbar>
<div class="background-slideshow"></div>
<div class="overlay"></div>
<div class="main-content">
  <h2 class="announcements-title">{{ tituloCategoria | titlecase }}</h2>

  <!-- Verificar si hay lugares -->
  <div *ngIf="lugares.length === 0">
    <h3 class="announcements-title">No se encontraron lugares para esta categoría.</h3>
  </div>

  <div class="cards-container" *ngIf="lugares.length > 0">
    <div class="card" *ngFor="let lugar of lugares">
      <div (click)="vistaDetalladaDestino(lugar.id_lugar)">
        <div class="card-header">
          <div>{{ lugar.nombre }}</div>
        </div>
        <img
          [src]="lugar.url || 'https://via.placeholder.com/300x200.png?text=Sin+Imagen'"
          alt="{{ lugar.nombre }}"
          class="card-img"
        />
        <div class="card-body">
          <div class="card-title">Descripción</div>
          <div class="card-text">
            {{ lugar.descripcion || 'No hay descripción disponible.' }}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
