       <!-- Header con botón de salir -->
<div class="header">
  <div class="logo"><div class="shipping-info">
      <p>{{ lugar.nombre }}</p>
    </div></div>
  <button class="exit-btn" (click)="goBack()">
    <span class="material-symbols-outlined"> logout </span>
  </button>
</div>

<div class="container">
  <!-- Thumbnails dinámicos -->
  <div class="thumbnail-list">
    <div *ngFor="let img of imagenes; let i = index" class="thumbnail" (click)="currentImageIndex = i" [class.active]="i === currentImageIndex">
      <img [src]="img.url" alt="Imagen del lugar" />
    </div>
  </div>

  <!-- Imagen principal -->
  <div class="main-image" *ngIf="imagenes.length > 0">
    <img [src]="imagenes[currentImageIndex].url" alt="Imagen principal del lugar" />
    <div class="nav-arrows">
      <div class="nav-arrow" (click)="changeImage(-1)">‹</div>
      <div class="nav-arrow" (click)="changeImage(1)">›</div>
    </div>
  </div>

  <div *ngIf="imagenes.length === 0">
    <p>Este lugar aún no tiene imágenes cargadas.</p>
  </div>


  <div class="product-info">
    
    <div class="product-details">
      <ul>
        <li><strong>Nombre del Lugar:</strong> {{ lugar.nombre }}</li>
        <li>{{ lugar.descripcion }} </li>
        <li>
          <strong>Página Web: </strong>
          <a [href]="lugar.paginaWeb" target="_blank">{{ lugar.paginaWeb }}</a>
        </li>
        <li><strong>Número Telefónico:</strong> {{ lugar.num_telefonico }}</li>
        <li>
          <strong>Horario de Apertura:</strong> {{ lugar.horario_apertura }}
        </li>
        <li><strong>Horario de Cierre:</strong> {{ lugar.horario_cierre }}</li>
        <li>
          <strong>Días de Servicio:</strong>
          {{ lugar.dias_servicio.join(", ") }}
        </li>
        <li>
          <strong>Categoría:</strong>
          {{ obtenerCategoriaNombre(lugar.id_categoria) }}
        </li>
        <li *ngIf="direccion">
          <strong>Dirección:</strong>
          {{ direccion.calle }} {{ direccion.numero_ext }}
          <span *ngIf="direccion.numero_int">, {{ direccion.numero_int }}</span
          >, {{ direccion.colonia }}, C.P. {{ direccion.codigo_postal }}
        </li>
        
      </ul>
    </div>

   

    <div class="button-group">
    <div class="button-container">
      <button class="edit-btn" (click)="modificarAnuncio()">Editar</button>
      <button class="pay-btn" (click)="confirmarPago()">Pagar</button>
      <button class="delete-btn" (click)="eliminarAnuncio()">Eliminar</button>
    </div>
  </div>

  <div *ngIf="isLoading">Cargando datos...</div>
  <div *ngIf="!isLoading && !lugar">No se pudo cargar la información del lugar. Intenta de nuevo más tarde.</div>
 </div>
  </div>