<div class="background-slideshow"></div>
<div class="overlay"></div>
<div class="container">
  <div class="logo">
    <img src="https://i.imgur.com/EHoiczp.png" alt="logo" width="95" height="95">
  </div>  
  <h1>City Explorer</h1>
  <p>El mejor lugar para recomendaciones</p>
  <button class="button login" (click)="login()">Iniciar Sesión</button>
  <button class="button register" (click)="register()">Registrarse</button>
  <button class="guest" (click)="homeScreen()">Navegar como invitado</button>
</div>
