<navbar-invitado-usuario></navbar-invitado-usuario>
    <!-- Breadcrumbs -->
    <div class="breadcrumbs"></div>

    <!-- Page Title -->
   <h1 class="page-title" style="color: #5BA7F7;">Destinos Increíbles</h1>


    <!-- Filters Section -->
    <div class="filters-section">
      <div class="search-box">
        <input type="text" class="search-input" placeholder="Buscar destinos...">
        <i class="fas fa-search search-icon"></i>
      </div>

      <div class="filter-tags">
  <span class="filter-tag" [class.active]="filtroEstrellas === null" (click)="setFiltroEstrellas(null)">Todos</span>
  <span class="filter-tag" [class.active]="filtroEstrellas === 5" (click)="setFiltroEstrellas(5)">5 Estrellas</span>
  <span class="filter-tag" [class.active]="filtroEstrellas === 4" (click)="setFiltroEstrellas(4)">4 Estrellas</span>
  <span class="filter-tag" [class.active]="filtroEstrellas === 3" (click)="setFiltroEstrellas(3)">3 Estrellas</span>
  <span class="filter-tag" [class.active]="filtroEstrellas === 2" (click)="setFiltroEstrellas(2)">2 Estrellas</span>
  <span class="filter-tag" [class.active]="filtroEstrellas === 1" (click)="setFiltroEstrellas(1)">1 Estrella</span>
</div>


    <!-- Cards Container -->
    <div class="cards-container">
      <div class="card" *ngFor="let lugar of getLugaresFiltrados()" (click)="vistaDetalladaDestino(lugar.id_lugar)">
        <div class="card-header">
          <div>{{ lugar.nombre }}</div>
        </div>

        <div class="card-img-container">
          <button class="btn-arrow" (click)="cambiarImagen(lugar, -1); $event.stopPropagation()">‹</button>

          <img
            [src]="lugar.url"
            alt="{{ lugar.nombre }}"
            class="card-img">

          <button class="btn-arrow" (click)="cambiarImagen(lugar, 1); $event.stopPropagation()">›</button>

          <div class="category-tags">
            <span class="category-tag">{{ getNombreCategoria(lugar.id_categoria) }}</span>
          </div>

        </div>


        <div class="card-body">
          <div class="card-title">Descripción</div>
          <div class="card-text">
            {{ lugar.descripcion || 'No hay descripción disponible.' }}
          </div>
          <div class="card-info">
          <div class="rating">
            <ng-container *ngFor="let starClass of getEstrellasVisuales(lugar.id_lugar)">
              <i [class]="starClass"></i>
            </ng-container>
            <span>{{ promedioValoracionPorLugar[lugar.id_lugar] || 'Sin calificar' }}</span>
          </div>
        </div>
        </div>
      </div>
    </div>
