<div>
  <div class="background-slideshow"></div>
  <div class="overlay"></div>

  <button class="back-button" (click)="goBack()">&#8592;</button>

  <div class="container" *ngIf="!isLoading && lugar">
    <div class="card">
      <div class="card-content">
        <div class="info-container">
          <div class="image-container">
            <img [src]="lugar.url" alt="Imagen del Lugar">
          </div>
          <div class="info-section">
            <h1>{{ lugar.nombre }}</h1>

            <h2>Descripción</h2>
            <p>{{ lugar.descripcion }}</p>

            <h2>Características</h2>
            <ul class="details">
              <li><strong>Nombre del Lugar:</strong> {{ lugar.nombre }}</li>
              <li><strong>Página Web:</strong> <a [href]="lugar.paginaWeb" target="_blank">{{ lugar.paginaWeb }}</a></li>
              <li><strong>Número Telefónico:</strong> {{ lugar.num_telefonico }}</li>
              <li><strong>Horario de Apertura:</strong> {{ lugar.horario_apertura }}</li>
              <li><strong>Horario de Cierre:</strong> {{ lugar.horario_cierre }}</li>
              <li><strong>Días de Servicio:</strong> {{ lugar.dias_servicio.join(', ') }}</li>
              <li><strong>Categoría:</strong> {{ obtenerCategoriaNombre(lugar.id_categoria) }}</li>
              <li *ngIf="direccion">
                <strong>Dirección:</strong>
                {{ direccion.calle }} {{ direccion.numero_ext }}<span *ngIf="direccion.numero_int">, {{ direccion.numero_int }}</span>,
                {{ direccion.colonia }}, C.P. {{ direccion.codigo_postal }}
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="button-group">
    <div class="button-container">
      <button class="edit-btn" (click)="modificarAnuncio()">Editar</button>
      <button class="pay-btn" (click)="confirmarPago()">Pagar</button>
      <button class="delete-btn" (click)="eliminarAnuncio()">Eliminar</button>
    </div>
  </div>

  <div *ngIf="isLoading">Cargando datos...</div>
  <div *ngIf="!isLoading && !lugar">No se pudo cargar la información del lugar. Intenta de nuevo más tarde.</div>
</div>
