<!-- src/app/vistas/components/Vistas-Usuario-Invitado/terminos-del-servicio/terminos-del-servicio.component.html -->
<div class="background-slideshow"></div>
<div class="overlay"></div>
<div class="container">
  <div class="card mt-4">
    <div class="card-body">
      <h1>Términos de Servicio</h1>
      <p><strong>1. Aceptación de los Términos</strong></p>
      <p>Al utilizar nuestra plataforma, los usuarios y anunciantes aceptan estar sujetos a estos Términos de Servicio. Si no estás de acuerdo con estos términos, no utilices nuestra plataforma.</p>

      <p><strong>2. Uso de la Plataforma</strong></p>
      <p>Los usuarios pueden utilizar la plataforma para descubrir lugares destacados en San Miguel de Allende, dejar comentarios y calificaciones. Los anunciantes pueden utilizar la plataforma para promocionar sus sitios, subir fotos, compartir horarios de servicio, ubicación y número de contacto, siempre y cuando cumplan con los requisitos de pago.</p>

      <p><strong>3. Comentarios y Calificaciones</strong></p>
      <p>Los usuarios son responsables de asegurarse de que sus comentarios y calificaciones sean precisos, respetuosos y relevantes. Nos reservamos el derecho de eliminar comentarios que no cumplan con estas directrices.</p>

      <p><strong>4. Anuncios y Perfiles de Anunciantes</strong></p>
      <p>Los anunciantes son responsables de asegurarse de que la información proporcionada en sus anuncios sea precisa y actualizada. Nos reservamos el derecho de revisar y aprobar o rechazar cualquier anuncio subido por los anunciantes.</p>

      <p><strong>5. Pagos y Suscripciones</strong></p>
      <p>Los anunciantes deben pagar por la publicación de sus anuncios. Los detalles de pago se procesan de manera segura y conforme a las políticas de privacidad descritas anteriormente.</p>

      <p><strong>6. Cancelación y Reembolsos</strong></p>
      <p>Los anunciantes pueden cancelar sus anuncios en cualquier momento. Sin embargo, no se ofrecerán reembolsos por anuncios ya publicados.</p>

      <p><strong>7. Limitación de Responsabilidad</strong></p>
      <p>No nos responsabilizamos de cualquier daño directo, indirecto, incidental, especial o consecuente que resulte del uso de la plataforma, incluyendo, pero no limitado a, la pérdida de datos, interrupciones en el servicio o errores en la información proporcionada por los anunciantes.</p>

      <p><strong>8. Cambios en los Términos de Servicio</strong></p>
      <p>Nos reservamos el derecho de modificar estos Términos de Servicio en cualquier momento. Cualquier cambio será notificado a los usuarios a través de la plataforma o por correo electrónico.</p>

      <p><strong>9. Ley Aplicable</strong></p>
      <p>Estos Términos de Servicio se regirán e interpretarán de acuerdo con las leyes de [tu jurisdicción]. Cualquier disputa que surja de o esté relacionada con estos Términos de Servicio se resolverá en los tribunales de [tu jurisdicción].</p>
    </div>
  </div>
</div>