/* Fondo principal */
.background-slideshow {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
    background: url('https://static.wixstatic.com/media/80dc52_c8ad68cffa0d464080b9fc7e6a4d1f42~mv2.jpg/v1/fill/w_1073,h_428,al_c,q_85,usm_0.66_1.00_0.01,enc_avif,quality_auto/80dc52_c8ad68cffa0d464080b9fc7e6a4d1f42~mv2.jpg') no-repeat center center fixed;
  background-size: cover;
  z-index: -2; /* Coloca esta capa detrás de todo */
}
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: 2;
}

.container {
  position: relative;
  z-index: 3;
  color: #fff;
  text-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: flex-start; /* Alinea los elementos al inicio en lugar de centrar verticalmente */
  height: 100%; /* Asegura que el contenedor ocupe toda la altura disponible */
  width: 100%; /* Asegura que el contenedor ocupe todo el ancho disponible */
  margin: 0;
  padding: 0;
}

.card {
  background: rgba(30, 30, 30, 0.9);
  backdrop-filter: blur(10px);
  border: none;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  max-width: 600px; /* Ajusta el ancho máximo de la tarjeta según tus necesidades */
  width: 90%; /* Asegura que la tarjeta tenga un ancho razonable */
  margin: 100px auto 0 auto; /* Añade un margen superior de 100px */
  padding: 20px; /* Añade un poco de padding para que el contenido no se pegue a los bordes */
}

.card-body {
  padding: 2rem;
}

h1 {
  font-size: 2.5rem;
  margin-bottom: 1.5rem;
  text-align: center; /* Centra el texto del título */
}