<div class="background-slideshow"></div>
<div class="overlay"></div>

<button class="back-button" (click)="goBack()">&#8592;</button>

<!-- Contenedor principal del formulario de pago -->
<div class="pago-container">
  <form [formGroup]="formularioPago" (ngSubmit)="handlePayment($event)">
    <!-- Forma de Pago -->
    <div class="form-group">
      <label for="formaDePago">Forma de pago</label>
      <select id="formaDePago" class="form-control" formControlName="formaDePago">
        <option value="">Selecciona una forma de pago</option>
        <option *ngFor="let forma of formaDePagosOpciones" [value]="forma">{{ forma }}</option>
      </select>
      <div *ngIf="isInvalid('formaDePago')" class="text-danger textRequerido">
        Selecciona una forma de pago válida.
      </div>
    </div>

    <!-- Elemento de tarjeta -->
    <div class="form-group mt-3 card-input-container">
      <div id="card-element" class="stripe-element"></div>
      <button type="button" class="link-button">Usar link</button>
    </div>

    <!-- Botón de pago -->
    <div class="form-group mt-4 text-center">
      <button type="submit" class="btn btn-primary" [disabled]="formularioPago.invalid">
        💳 Pagar ahora
      </button>
    </div>
  </form>
</div>