<div class="background-slideshow"></div>
<div class="overlay"></div>
<div class="form-container">
  <form [formGroup]="anuncioForm" (ngSubmit)="guardarAnuncio()">
    
    <!-- Botón de regresar -->
    <button type="button" class="back-button" (click)="goBack()">
      <div class="circle-icon">&#8617;</div>
    </button>

    <div class="header">
      <h1>{{ ID ? 'Editar Anuncio:' : 'Crear Anuncio:' }}</h1>
    </div>

    <!-- Nombre del lugar -->
    <div class="form-group">
      <label for="nombre">Nombre del Lugar*</label>
      <input type="text" id="nombre" placeholder="Escribe el nombre del lugar" formControlName="nombre">
      <div *ngIf="isInvalid('nombre')" class="text-danger">El nombre es obligatorio</div>
    </div>

    <!-- Descripción -->
    <div class="form-group">
      <label for="descripcion">Descripción*</label>
      <input type="text" id="descripcion" placeholder="Escribe una descripción" formControlName="descripcion">
      <div *ngIf="isInvalid('descripcion')" class="text-danger">La descripción es obligatoria</div>
    </div>

    <!-- Página Web -->
    <div class="form-group">
      <label for="paginaWeb">Página Web</label>
      <input type="text" id="paginaWeb" placeholder="Escribe la URL de tu página web" formControlName="paginaWeb">
      <div *ngIf="isInvalid('paginaWeb')" class="text-danger">La URL es obligatoria y debe ser válida</div>
    </div>

    <!-- Número Telefónico -->
    <div class="form-group">
      <label for="num_telefonico">Número Telefónico*</label>
      <input type="text" id="num_telefonico" placeholder="Escribe tu número telefónico" formControlName="num_telefonico">
      <div *ngIf="isInvalid('num_telefonico')" class="text-danger">Debe tener 10 dígitos</div>
    </div>

    <!-- Horario de Apertura -->
    <div class="form-group">
      <label for="horario_apertura">Horario de Apertura*</label>
      <input type="time" id="horario_apertura" formControlName="horario_apertura">
      <div *ngIf="isInvalid('horario_apertura')" class="text-danger">Campo obligatorio</div>
    </div>

    <!-- Horario de Cierre -->
    <div class="form-group">
      <label for="horario_cierre">Horario de Cierre*</label>
      <input type="time" id="horario_cierre" formControlName="horario_cierre">
      <div *ngIf="isInvalid('horario_cierre')" class="text-danger">Campo obligatorio</div>
    </div>

    <!-- Días de Servicio -->
    <div class="form-group">
      <label for="dias_servicio">Días de Servicio*</label>
      <select id="dias_servicio" formControlName="dias_servicio">
        <option value="">Seleccionar días</option>
        <option *ngFor="let dia of diasServicioOpciones" [value]="dia">{{ dia }}</option>
      </select>
      <div *ngIf="isInvalid('dias_servicio')" class="text-danger">Selecciona una opción</div>
    </div>

    <!-- Categoría -->
    <div class="form-group">
      <label for="categoria">Categoría*</label>
      <select id="categoria" formControlName="categoria">
        <option value="">Seleccionar categoría</option>
        <option *ngFor="let cat of categoriasOpciones" [value]="cat">{{ cat }}</option>
      </select>
      <div *ngIf="isInvalid('categoria')" class="text-danger">Selecciona una categoría</div>
    </div>

    <!-- Dirección -->
    <div class="form-group">
      <label>Dirección*</label>
      <div class="direccion-group" formGroupName="direccion">
        <div>
          <label for="calle">Calle</label>
          <input type="text" id="calle" formControlName="calle" placeholder="Escribe la calle">
          <div *ngIf="isInvalid('direccion.calle')" class="text-danger">Campo obligatorio</div>
        </div>
        <div>
          <label for="numero_ext">Número Exterior</label>
          <input type="text" id="numero_ext" formControlName="numero_ext" placeholder="Ej. 123">
          <div *ngIf="isInvalid('direccion.numero_ext')" class="text-danger">Campo obligatorio</div>
        </div>
        <div>
          <label for="numero_int">Número Interior</label>
          <input type="text" id="numero_int" formControlName="numero_int" placeholder="Ej. Apto. 5">
          <div *ngIf="isInvalid('direccion.numero_int')" class="text-danger">Campo obligatorio</div>
        </div>
        <div>
          <label for="colonia">Colonia</label>
          <input type="text" id="colonia" formControlName="colonia" placeholder="Escribe la colonia">
          <div *ngIf="isInvalid('direccion.colonia')" class="text-danger">Campo obligatorio</div>
        </div>
        <div>
          <label for="codigo_postal">Código Postal</label>
          <input type="text" id="codigo_postal" formControlName="codigo_postal" placeholder="Ej. 12345">
          <div *ngIf="isInvalid('direccion.codigo_postal')" class="text-danger">Debe ser válido</div>
        </div>
      </div>
    </div>

    <!-- URL Imágenes -->
    <div class="form-group">
      <label for="url">URL de Imágenes*</label>
      <input type="text" id="url" placeholder="Escribe las URLs de las imágenes" formControlName="url">
      <div *ngIf="isInvalid('url')" class="text-danger">La URL es obligatoria</div>
    </div>

    <!-- Botón de envío -->
    <div class="buttons">
      <button type="submit">{{ ID ? 'Actualizar Anuncio' : 'Crear Anuncio' }}</button>
    </div>

  </form>
</div>
