
  <div class="container">
        <div class="header">
            <button class="menu-btn">
                <span class="material-symbols-outlined"> menu </span>
            </button>
            <div class="title">Comentarios</div>
            <button class="external-link">↗</button>
        </div>

   <div class="search-container">
            <input type="text" class="search-input" placeholder="Búsqueda de comentarios...">
            <div class="view-controls">
                <button class="view-btn">
                    <span class="material-symbols-outlined"> menu </span>
                </button>
                <button class="view-btn">
                    <span class="material-symbols-outlined"> view_comfy_alt </span>
                </button>
            </div>
        </div>

    <div class="table-header">
    </div>

    <div class="comment-row">
      <div class="col comment-id">ID</div>
      <div class="col">Este es un ejemplo de comentario</div>
      <div class="col comment-author">Anuncio</div>
      <div class="col"><button class="status-btn">Aprobar</button></div>
      <div class="col"><button class="btn-eliminar">Eliminar</button></div>
      <div class="col comment-date">FEB 04</div>
      <div class="col comment-avatar">A</div>
      <div class="col"><button class="more-options">⋯</button></div>
    </div>

    <div class="comment-row">
      <div class="col comment-id">FID-120</div>
      <div class="col">Es un lugar agradable</div>
      <div class="col comment-author">Mariscos</div>
      <div class="col"><button class="status-btn">Aprobar</button></div>
      <div class="col"><button class="btn-eliminar">Eliminar</button></div>
      <div class="col comment-date">Dec 5</div>
      <div class="col comment-avatar">M</div>
      <div class="col"><button class="more-options">⋯</button></div>
    </div>

    <div class="comment-row">
      <div class="col comment-id">FID-119</div>
      <div class="col">Es un lugar ¡$$%! con personas ¡$$%!</div>
      <div class="col comment-author">Mirador</div>
      <div class="col"><button class="status-btn">Aprobar</button></div>
      <div class="col"><button class="btn-eliminar">Eliminar</button></div>
      <div class="col comment-date">Dec 5</div>
      <div class="col comment-avatar">M</div>
      <div class="col"><button class="more-options">⋯</button></div>
    </div>
  </div>
