<div class="background-slideshow"></div>
<div class="overlay"></div>
<div class="container">
    <div class="top-bar">
      <div class="buttons-container">
        <button class="btn btn-primary" (click)="crearAnuncio()">Crear nuevo anuncio</button>
        <button class="btn btn-outline" (click)="cerrarSesion()">
          <span>↪</span>
          Cerrar Sesión
        </button>
      </div>
    </div>
  
    <div class="content">
      <h1>Bienvenido Usuario</h1>
  
      <h2 class="announcements-title">Anuncios Creados</h2>
  
      <div *ngIf="isLoading" class="loading-indicator">Cargando...</div>
      <div *ngIf="errorMessage" class="error-message">{{ errorMessage }}</div>
  
      <div class="cards-container">
        <!-- Iterar sobre los lugares para generar una tarjeta por cada uno -->
        <div *ngFor="let lugar of lugares" class="card">
          <div class="card-header">
            <div>{{ lugar.nombre }}</div>
          </div>
          <img [src]="lugar.url" alt="{{ lugar.nombre }}" class="card-img">
          <div class="card-body">
            <div class="card-title">Descripción</div>
            <div class="card-text">{{ lugar.descripcion }}</div>
            <div class="card-actions">
              <button class="btn btn-edit" (click)="vistaDetalladaAnuncio(lugar.id_lugar)">Vista detallada</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>