<div class="profile-popup">

  <div class="profile-header">
    <div class="profile-avatar">
      <ng-container *ngIf="usuario?.data?.foto_perfil; else inicialUsuario">
        <img [src]="'http://127.0.0.1:8000/storage/' + usuario.data.foto_perfil" alt="Foto de perfil" class="perfil-img">
      </ng-container>

      <ng-template #inicialUsuario>
        {{ usuario?.data?.nombre?.charAt(0) }}
      </ng-template>
    </div>

    <div class="profile-name">
      ¡Hola, {{ usuario?.data?.nombre + ' ' + usuario?.data?.apellidoP + ' ' + usuario?.data?.apellidoM }}!
    </div>
    <div class="profile-email">
      {{ usuario?.data?.correo }}
    </div>

    <button class="manage-account-btn" (click)="vistaInfoUsuario()">Gestionar tu cuenta</button>
  </div>

  <div class="profile-actions">
        <div class="action-item" data-action="add-account">
            
        <div class="action-item" data-action="logout">
            <div class="action-icon">
                <svg width="20" height="20" viewBox="0 0 24 24" fill="#5f6368">
                    <path d="M17,7L15.59,5.59L13.5,7.68L11.41,5.59L10,7L12.09,9.09L10,11.18L11.41,12.59L13.5,10.5L15.59,12.59L17,11.18L14.91,9.09L17,7Z"/>
                </svg>
            </div>
            <button mat-button (click)="cerrarSesion()">Cerrar sesión</button>
        </div>
    </div>

  <div class="footer-links">
    <a href="javascript:void(0)" (click)="politicasDePrivacidad()" class="footer-link">Política de Privacidad</a>
    <span class="separator">•</span>
    <a href="javascript:void(0)" (click)="terminosDelServicio()" class="footer-link">Términos del Servicio</a>
  </div>
</div>
