<navbar-invitado-usuario></navbar-invitado-usuario>
<body>

<div class="main-content">
  <h1 class="page-title">{{ tituloCategoria | titlecase }}</h1>

  <div *ngIf="lugares.length === 0">
    <p class="mensaje-vacio">
      Aún no has agregado ningún lugar a tus favoritos.<br />
      ¡Explora y guarda los que más te gusten!
    </p>
  </div>

  <div class="cards-container" *ngIf="lugares.length > 0">
    <div
      class="card"
      *ngFor="let lugar of lugares"
      (click)="vistaDetalladaDestino(lugar.id_lugar)"
    >
      <div class="card-header">
        <div class="card-title-text">{{ lugar.nombre }}</div>
      </div>

      <div class="card-img-container">
        <button 
        class="nav-button left" 
        (click)="cambiarImagen(lugar.id_lugar, -1); $event.stopPropagation()"
      >
        <span class="material-symbols-outlined">
chevron_backward
</span>
      </button>
        <img
          [src]="
            imagenesPorLugar[lugar.id_lugar][indicesImagen[lugar.id_lugar]] || 'https://via.placeholder.com/400x300'
          "
          alt="Imagen lugar"
          class="card-img"
        />

        <button 
        class="nav-button right" 
        (click)="cambiarImagen(lugar.id_lugar, 1); $event.stopPropagation()"
      >
<span class="material-symbols-outlined">
chevron_forward
</span>
      </button>

      <div class="category-tags">
        <span class="category-tag">Favorito</span>
      </div>
    </div>

      <div class="card-body">
        <div class="card-title">Descripción</div>
        <div class="card-text">
          {{ lugar.descripcion || "No hay descripción disponible." }}
        </div>
        <div class="card-info">
          <div class="rating">
            <ng-container *ngFor="let estrella of getEstrellasVisuales(lugar.id_lugar)">
              <i [class]="estrella"></i>
            </ng-container>
            <span>{{ promedioValoracionPorLugar[lugar.id_lugar] || 0 }}</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</body>
